<div class="row">
  <% if groups %>
    <% groups.each do |group| %>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="<%= group_path(token: group.token) %>" class="card mb-3">
          <div class="card-header">
            <%= group.name %>
          </div>
          <%= image_tag group.image.url, alt: 'group image', class: 'card-img-bottom', height: 150, style: "object-fit: contain;" %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>