<div class="row">
  <% if groups %>
    <% groups.each do |group| %>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="<%= group_path(token: group.token) %>" class="card mb-3">
          <div class="card-header">
            <%= group.name %>
          </div>
          <%= image_tag group.background_image.url, alt: 'group background image', class: 'card-img-bottom mw-100', height: 150 %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>