<div class="border rounded">
  <%= form_with(model: group.messages.build, local: true) do |f| %>
    <div class="d-flex">
      <%= f.text_area :content, rows: 1, class: 'form-control border-0', style: 'resize: none' %>
      <%= hidden_field_tag :group_token, group.token %>
      <%= f.submit '送信', class: 'btn btn-primary mr-2 my-1' %>
    </div>
  <% end %>
</div>