<div class="row">
  <% if users %>
    <% users.each do |user| %>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="/users/<%= user.id %>" class="card mb-3">
          <div class="card-header">
            <%= user.name %>
          </div>
          <%= image_tag user.image.url, alt: 'user icon', class: 'card-img-bottom', height: 150, style: "object-fit: contain;" %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>