<%= render 'toppages/search_bar', url: users_path %>
<div class="content mt-4">
  <div class="content_nav btn-group">
    <a href="/" class="btn btn-secondary <%= 'active' if current_page?('/') %>" role="button" aria-pressed="true">グループ</a>
    <a href="users" class="btn btn-secondary <%= 'active' if current_page?(users_path) %>" role="button" aria-pressed="true">ユーザ</a>
  </div>
  
  <div class="content-items mt-3">
    <%= render 'users/users', users: @users %>
  </div>
</div>
  